.Header-icon {
  position: absolute;
  right: 0;
  margin-right: 150px;
  margin-left: 150px;
  top: 50px;
  cursor: pointer;
  font-size: 44px;
  z-index: 6; }

.Header-nav {
  display: none; }

.Header .down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.9;
  z-index: 5;
  transition: 2s; }
  .Header .down a {
    padding-top: 35px;
    padding-bottom: 35px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 24px; }
    .Header .down a:hover {
      border-bottom: 1px solid white; }

.Header .down-icon {
  color: #fff;
  animation-name: arrow-up;
  animation-duration: 3s;
  animation-fill-mode: forwards; }

.Header .yeni {
  color: black;
  animation-name: arrow-down;
  animation-duration: 3s;
  animation-fill-mode: forwards; }

@keyframes arrow-down {
  0% {
    transform: rotate(180deg); }
  50% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(0); } }

@keyframes arrow-up {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(180deg); } }

.Main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .Main-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif; }
    .Main-form :nth-child(1) {
      font-size: 30px;
      font-weight: 800; }
    .Main-form .input {
      margin-top: 50px;
      margin-bottom: 50px;
      padding: 20px;
      text-align: center;
      border: none;
      border-bottom: 2px solid #ddd;
      font-family: 'Roboto Slab', serif;
      font-weight: bold; }
    .Main-form .button {
      border: 2px solid black;
      padding-left: 70px;
      padding-right: 70px;
      display: flex;
      align-items: center;
      color: black;
      height: 40px;
      transition: background-color 1s;
      font-family: 'Roboto Slab', serif;
      font-weight: 800; }
      .Main-form .button:hover {
        background-color: black;
        color: #fff; }
