.Main {
  font-family: 'Karla', sans-serif;
  height: 120%; }
  .Main-icon {
    position: absolute;
    right: 0;
    margin-right: 35px;
    margin-left: 0;
    top: 10px;
    cursor: pointer;
    font-size: 44px;
    z-index: 6; }
  @media (max-width: 500px) {
    .Main .Main-icon {
      margin-right: 15px;
      top: auto;
      right: 0;
      font-size: 34px; } }
  .Main .Header-nav {
    display: none; }
  .Main .down {
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 120%;
    background-color: black;
    opacity: 0.9;
    z-index: 5; }
    .Main .down a {
      padding-top: 35px;
      padding-bottom: 35px;
      color: #fff;
      font-family: 'Roboto Slab', serif;
      font-size: 24px; }
      .Main .down a:hover {
        border-bottom: 1px solid white; }
  @media (min-width: 768px) {
    .Main .down {
      height: 100vh; } }
  .Main .down-icon {
    color: #fff;
    animation-name: arrow-up;
    animation-duration: 3s;
    animation-fill-mode: forwards; }
  .Main .yeni {
    color: black;
    animation-name: arrow-down;
    animation-duration: 3s;
    animation-fill-mode: forwards; }

@keyframes arrow-down {
  0% {
    transform: rotate(180deg); }
  50% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(0); } }

@keyframes arrow-up {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(180deg); } }
  .Main .title {
    display: flex;
    text-transform: uppercase;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .Main .title :nth-child(1) {
      width: 350px;
      border: 2px solid #333;
      padding: 20px;
      text-align: center; }
    .Main .title :nth-child(2) {
      padding-top: 20px; }
  .Main .timeline .box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 2px solid black;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px; }
    .Main .timeline .box .icon i {
      flex-shrink: 0; }
    .Main .timeline .box .content {
      flex-grow: 1;
      margin-left: 20px;
      margin-right: 20px; }
    .Main .timeline .box .arrow i {
      flex-shrink: 0;
      cursor: pointer;
      color: purple; }
  @media (min-width: 768px) {
    .Main .timeline {
      position: relative;
      height: 100%;
      padding-left: 80px;
      padding-right: 80px;
      display: flex;
      justify-content: center; }
      .Main .timeline .box {
        width: 500px; }
        .Main .timeline .box:hover {
          background-color: #444;
          transition: 0.7s; }
          .Main .timeline .box:hover i {
            color: #fff; }
          .Main .timeline .box:hover .content {
            color: #fff; }
          .Main .timeline .box:hover .arrow {
            color: #fff; }
      .Main .timeline .left-side {
        width: 50%;
        position: absolute;
        display: flex;
        left: 0;
        flex-direction: column;
        align-items: center; }
      .Main .timeline .right-side {
        width: 50%;
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center; } }
